// app global css in Sass form
*
  box-sizing: border-box
  padding: 0
  margin: 0
  font-family: 'Roboto', sans-serif

#q-app
  background: rgb(17,22,125)
  background: linear-gradient(0deg, rgba(17,22,125,0.9791666666666666) 25%, rgba(31,9,166,0.9421296296296297) 50%, rgba(81,60,212,1) 75%, rgba(123,51,180,0.8631827731092436) 100%)
